body {
    background-color: rgb(255, 255, 255);
}

.logo_dlc img {
    margin: 1px 1px 1px 1px;
}

.navidad img {
   

}



.busqueda {
    position: relative;
    top: -250px; left: 1100px;
}

.barnav-izq ul {
    position: relative;
    top: -200px; left: 180px;
    list-style-type: none;
    border-radius: 5px;
    padding: 0px;
    overflow: hidden;
    background-color: rgb(59, 163, 128);
  }
  
  .barnav-izq li {
    float: left;
    color: blueviolet;
  }
  
  .barnav-izq a {
    display: block;
    color: white;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 14px 16px;
    text-decoration: none;
  }
  
 .barnav-izq li a:hover {
    background-color: rgb(21, 119, 45);
    border-radius: 5px;
  }

  .año {
    position: relative;
    top: -190px; left: 20px;
    color: rgb(224, 0, 0);
    font-family:'Christian Sunday';
    font-size: 45px;
        } 

  .vacas_historia img {
    position: relative;
    top: -600px; left: 800px;
    
  }

  section p {
      position: relative;
      top: -180px; left: 20px;
      font-size: 23px;
      font-family:'Typo Round Demo';

  }

  .texto1 {
    position: static;
    top: -100px; left: 20px;
    font-style: inherit;
    font-size: 28px;
    font-family:'Typo Round Demo';
  }

  .button_historia {
    position: relative;
    top: 50px; left: 25px; 
    background-color: rgb(59, 163, 128);
    border-radius: 10px;
    font-size: 28px;
    color: #FFFFFF;
    font-family: 'Typo Round Demo';
    border: outset;
    padding: 5px;
    text-align:center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;  
    
  }

  .button_favorito {
  background-color: rgb(59, 163, 128);
  border-radius: 10px;
  font-size: 28px;
  color: #FFFFFF;
  font-family: 'Typo Round Demo';
  border: outset;
  padding: 5px;
  text-align:center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
    
  }

  .productos_img {
    
    border-radius: 30px;

  }

 

  .texto2 h2 {
    
    font-family: 'Typo Round Demo';
    font-size: 32px;
    
  }

