* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color:whitesmoke;
    font-family: 'roboto'; 
}

ul {list-style: none;}

.container button {
    font-size: 1.0em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 30px;
    border: 1px solid rgb(0, 2, 0);
    box-shadow: 2px 2px 10px rgb(0, 0, 0,0.5);
    color: antiquewhite;
    background-color: blueviolet;
}

.container button:hover{
    background-color: rgb(96, 30, 158);
}

.container {
    max-width: 1400px;
    margin: auto;
}

header {
    background-color: rgb(245, 245, 245);
}

header .logo {
    background-image:url(/img/Vacas_Home.PNG); 
    

}

header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav {
    display:flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: ;
}


header a {
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover {
    color: blueviolet;
    font-family: 'gilroy';
}